<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>너, 운동된 거야</title>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/pose@0.8/dist/teachablemachine-pose.min.js"></script>
    <script src="../js/teachable.js"></script>
    <script src="../js/maze-builder.js"></script>
    <script src="../js/mazing.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/game.css" />
  </head>
  <body>
    <div class="main" id="main">
      <img src="../img/logo.png" id="logo" />
      <h1>너, 운동된 거야</h1>
      <h3>동작을 취해 캐릭터를 움직여 미로를 탈출해보세요!</h3>
      <br />

      <!-- Webcam -->
      <div id="webcam">
        <h2><%= nickname %> 님!</h2>
        <div>
          <canvas id="canvas"></canvas>
        </div>
        <div id="label-container"></div>
      </div>

      <!-- Maze -->
      <div id="maze_section">
        <div id="maze_container"></div>
        <script>
          var Maze, MazeGame;

          const makeMaze = (id, width, height, speech = false) => {
              Maze = new MazeBuilder(width, height);
              Maze.placeKey();
              Maze.display(id);
              MazeGame = new Mazing("maze");
          };
          makeMaze("maze_container", 18, Number(<%= level %>));
        </script>
      </div>

      <!-- Game Over Modal -->
      <div id="modal" class="modal-overlay">
        <div class="modal-window">
          <div class="title">
            <h2>Success!</h2>
          </div>
          <div class="close-area">X</div>
          <div class="content">
            <h3>플레이어: <%= nickname %> 님</h3>
          </div>
          <div class="menu">
            <div>
              <button id="rankBtn" onclick="showRank();">내 랭킹 보기</button>
            </div>
            <div>
              <button id="startBtn" onclick="goIntro();">메인으로</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      function showRank() {
        const content = document.getElementsByClassName("content")[0].innerText;
        console.log(content);
        const score = Number(content.slice(17));
        $.ajax({
          type: "POST",
          url: "/play/save",
          data: {
            name: `<%= nickname %>`,
            score: score,
            level: `<%= level %>`,
          },
          error: function () {
            alert("에러가 발생했습니다");
          },
          success: function (data) {
            location.href = "/rank/?nickname=<%= nickname %>";
          },
        });
      }
      function goIntro() {
        location.href = `/`;
      }
    </script>
  </body>
</html>
